* {
    font-family: Arial;
    font-size: 15px;
    color: #102C57;
    text-decoration: none;
    background: #F8F0E5;
}

.container {
    width: 400px;
    max-width: 95%;
    min-width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    display: grid;
    gap: 1ex;
}

.button {
    box-shadow: 0px 0px 2px #3C3B47;
    border: none;
    padding: 7px 9px 7px 9px;
    width: 100%;
}

.hover:hover {
    cursor: pointer;
    background: #FBFFC4;
    text-decoration: none;
}

.button img{
    width: 2ex;
}

.highlight {
    background: #F6FAD9;
}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tall{
    height: 30ex;
}

.tall img{
    width: 10ex;
    padding: 0ex 0ex 2ex 0ex;
}

.center{
    display: grid;
    justify-content: center;
}