:root {
    --main-color: #102C57;
    --main-background: #F8F0E5;
    --box-shadow: #3C3B47;
    --highlight: #F6FAD9;
    --highlight-on-hover: #FBFFC4;
}

* {
    font-family: Arial;
    font-size: 15px;
    color: var(--main-color);
    text-decoration: none;
    background: var(--main-background);
}

.container {
    width: 400px;
    max-width: 95%;
    min-width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: grid;
    gap: 1ex;
}

.button {
    box-shadow: 0px 0px 2px var(--box-shadow);
    border: none;
    padding: 7px 9px 7px 9px;
    width: 100%;
}

.button-no-border {
    border: none;
    text-align: center;
    padding: 7px 9px 7px 9px;
    width: 100%;
}

.button-no-border img{
    width: 1.5em;
}

select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: center right 1em;
    background-size: 1.5em;
}

.select-language {
    background-image: url(icons/light/language.png);
}

.select-theme {
    background-image: url(icons/light/theme.png);
}

.button:hover, .button-no-border:hover {
    cursor: pointer;
}

.highlight-on-hover:hover, .highlight-on-hover:hover span{
    background: var(--highlight-on-hover);
    text-decoration: none;
}

.button img{
    width: 2ex;
}

.highlight, .highlight span, .highlight img {
    background: var(--highlight);
}

.split-in-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.split-in-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tall{
    height: 30ex;
}

.tall img{
    width: 10ex;
    padding: 0ex 0ex 2ex 0ex;
}

.center{
    display: grid;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--box-shadow);
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.modal-header {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-weight: bold;
}

.modal-close {
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.modal-content {
    padding: 3px 10px 10px 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    pointer-events: all;
}